<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tenant">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app3"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tenant.NoActionBar">
        <activity
            android:name=".splash"
            android:exported="true"
            android:theme="@style/Theme.Transparent.NoActionBar" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".AddTenant"
            android:label="@string/Title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Tenant.NoActionBar" />
        <activity
            android:name=".Tenant_Detail"
            android:label="@string/Title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Tenant.NoActionBar" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.tenant.MainActivity" />

        <activity
            android:name=".MainActivity"
            android:label="@string/Title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Tenant.NoActionBar">

        </activity>
    </application>

</manifest>